/* Work sans font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */
* {
  font-family: 'Work Sans', 'Lato', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  color: #131414;
}

.text-color-gray {
  color: #727272;
}
/* Button Style */
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 10px 25px;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  border: 0;
}

/* Header Style */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* Banner style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
}

.banner img {
  width: 100%;
  margin-top: 10px;
}

/* Main style */
main {
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title .quick-list {
  font-weight: 700;
}

.teams-title .text-feature {
  color: #ff900e;
  font-weight: 700;
}

/* Facts Style */

.facts-card-container {
  display: flex;
  justify-content: space-around;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}

.facts-card-container .card-description {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}

.facts-card-container .facts-title {
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Sponsors Style */
.sponsors {
  text-align: center;
}

/* Sponsors Styles */

.sponsors{
  text-align: center;
}
.sponsors-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}

.sponsors-img-container img{
  width: 165px;
}

/* Responsive style */

/* Mobile Devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .facts-card-container {
    gap: 20px;
  }
}

/*  Tablet or medium devices */
@media screen and (min-width: 576) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  
  nav,
  .teams-container,
  .sponsors-img-container {
    flex-direction: column;
  }
}
